.micotendor{
    background-repeat: repeat; /* Optional: Set how the image repeats (repeat, no-repeat, etc.) */
    background-size: cover; /* Optional: Scale the image to cover the card */
    background-position: center; /* Optional: Position the image within the card */ /* Optional: Scale the image to cover the card */
}

.background-1 {
    background-image: url('https://img.freepik.com/psd-gratis/fondo-rosado-textura-corazones_314999-2206.jpg?t=st=1721586485~exp=1721590085~hmac=7937da8a964ec43a2ffb402a0c6d406ff6769d875f0a372d0b8e3fc00495ebdf&w=1380');
}

.background-2 {
    background-image: url('../image/back2.avif');
}

.background-3 {
    background-image: url('../image/back3.avif');
}
.background-4 {
    background-image: url('https://img.freepik.com/vector-gratis/coleccion-dibujitos-amor_23-2147502214.jpg?t=st=1721586657~exp=1721590257~hmac=19406bab7ad01753252e010c4744472740855d002df78d7876a8c83e8a1b095e&w=1380');
}
.background-5 {
    background-image: url('https://img.freepik.com/vector-gratis/ilustracion-hilo-rojo-dibujado-mano_23-2149988109.jpg?t=st=1721586765~exp=1721590365~hmac=0d4eff75c21cb8dcb66f7477871e69366745ad98dd142eb21370cd320edbd365&w=1380');
}
.background-6 {
    background-image: url('https://img.freepik.com/vector-gratis/conjunto-garabatos-dia-san-valentin_125540-1795.jpg?t=st=1721586910~exp=1721590510~hmac=5e0543766b9737d4c7e5dbba27da6e827184ee4c6df5a4d85300ed240331fd6c&w=2000');
}

.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;

}

.card-styles{
    background-color: white;
    padding: 20px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    margin: auto;
}

.btn.btn-1{
    border: 1px solid rgb(99, 99, 99);
    background-color: #DBEDCC;
    border-radius: 20px;
    font-weight: 200;

}
.btn.btn-2{
    border: 1px solid rgb(99, 99, 99);
    background-color: #eacced;
    border-radius: 20px;
    font-weight: 200;

}
.btn.btn-3{
    border: 1px solid rgb(99, 99, 99);
    background-color: #a2c9c9;
    border-radius: 20px;
    font-weight: 200;

}
.btn.btn-3{
    border: 1px solid rgb(212, 165, 165);
    background-color: #ff4757;
    border-radius: 20px;
    font-weight: 200;
    color: #DBEDCC;

}
.first-image{
    width: 60px;
    height: 60px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}
.second-image{
    width: 90px;
    height: 90px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}
.tercer-image{
    width: 150px;
    height: 150px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}
.title{
    font-size: 25px;
    color: #293333;
    font-weight: 700;
}

.bodyheart{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart{
    position: relative;
    width: 70px;
    height: 70px;
    background: #ff4757;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #ff4757;
    animation: animate .6s linear infinite;

}
@keyframes animate {
    0%{
        transform: rotate(-45deg) scale(1.07);
    }
    80%{
        transform: rotate(-45deg) scale(1.0);
    }
    100%{
        transform: rotate(-45deg) scale(0.8);

    }
    
}
.heart::before{
    content: '';
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: #ff4757;
    border-radius: 50%;
}

.heart::after{
    content: '';
    position: absolute;
    right: -50%;
    width: 70px;
    height: 70px;
    background: #ff4757;
    border-radius: 50%;

}

.content-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000; /* Cambia este color al que desees */
    border-radius: 50%;
    padding: 10px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #555; /* Cambia este color al que desees para el hover */
}



.post-card {
    
    margin-bottom: 40px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 20px 10px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.post-card h3 {
    margin: 0 0 10px;
}

.delete-btn {

    width: 25%;
    padding: 5px 10px;
    border: 1px solid #000;
    background-color: #dc3545;
    color: white;
    border-radius: 40px;
    cursor: pointer;

}
.agregar-event {

    width: 50%;
    padding: 5px 10px;
    background-color: #35dcd4;
    color: rgb(0, 0, 0);
    border-radius: 40px;
    cursor: pointer;

}
.filtrar {

    width: 100%;
    padding: 5px 10px;
    background-color: #d0fffd;
    color: rgb(0, 0, 0);
    border-radius: 40px;
    cursor: pointer;

}

.delete-btn:hover {
    background-color: #c82333;
}

/* Estilo personalizado para Toastify */
.toast-custom {
    background: #333; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    border-radius: 8px; /* Bordes redondeados */
    padding: 15px 20px; /* Espaciado interno */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    font-size: 16px; /* Tamaño de fuente */
    font-family: Arial, sans-serif; /* Familia de fuente */
    text-align: center; /* Texto centrado */
    max-width: 400px; /* Ancho máximo */
    margin: auto; /* Centrado horizontal */
}

.toast-custom:before {
    content: ""; /* Espacio para el icono si se necesita */
}

.toast-custom .toastify-content {
    display: inline-block; /* Mostrar el contenido en línea */
}

.toast-custom .toastify-content img {
    vertical-align: middle; /* Alinear verticalmente el icono si se usa */
    margin-right: 10px; /* Espacio entre el icono y el texto */
}

/* Ajuste para el toast al centrarse en la pantalla */
.Toastify {
    left: 50% !important; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Ajuste fino del centrado */
}

